@tailwind base;
@tailwind components;
@tailwind utilities;

.firstRow{

    gap: 57px;
    flex-shrink: 0;
    background: #00C795;
}
.firstRow-text{
    /*display: inline-flex;*/
    height: 100vh;
    padding: 91px 165px 635px 120px;
    flex-direction: column;
    align-items: flex-start;
}
.text{
    color: #FFF;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.firstRow-p{
    color: #FFF;
    text-align: justify;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    padding-top: 57px;
}
.button-text{
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 21.6px;
}
.scroll-container {
    overflow-x: auto;
    max-width: 100%; /* Ensure the container takes the full width */
}

/* Hide the scrollbar */
.scroll-container::-webkit-scrollbar {
    display: block;
}

.scroll-container::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: rgba(74, 93, 88, 0.50);
    /*max-height: 10px !important;*/
}
.input-container {
    position: relative;
}

.percent-sign {
    position: absolute;
    top: 50%;
    left: 8px; /* Adjust the distance from the input field */
    transform: translateY(-50%);
    color: #aaa; /* Optional: Set the color of the percent sign */
}

.percent-input {
    padding-left: 50px; /* Space for the percent sign */
}
.custom-scroll-bar::-webkit-scrollbar {
    background: transparent !important;
    width: 10px;
    height: 8px;
}

.custom-scroll-bar::-webkit-scrollbar-thumb {
    background: #eaecf0 !important;
    max-height: 20px !important;
    border-radius: 32px;
}

.pagination {
    list-style: none;
    display: flex;
    gap: 8px;
}

.pagination li {
    display: inline-block;
}

.pagination {
    display: flex;
    align-items: center;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
}

.pagination p.active {
    color: #3A3A3A;
    cursor: pointer;
}
.pagination p.disabled {
    color: #999; /* Set the color for disabled buttons */
    cursor: not-allowed; /* Set the cursor to not-allowed */
    pointer-events: none; /* Disable pointer events */
    opacity: 0.6; /* Set opacity for disabled buttons */
}
.pagination img.active {
    color: #3A3A3A;
    cursor: pointer;
}
.pagination img.disabled {
    color: #999;
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.6;
}